name: Bob the Builder

on:
  push:
    branches:
      - 'master'
      - 'action'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build tetris
      run: make
